<!DOCTYPE html>

    <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"> 


    
    <link href='http://fonts.googleapis.com/css?family=Helvetica+Neue|Helvetica|Arial' rel='stylesheet' type='text/css' />

   
    <!-- 
    {% load staticfiles %}



    <link rel="shortcut icon" href="{% static 'img/logo.ico' %}"> 
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    -->

    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %}" />


    <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    </head>


<!--
body:
    background-color: rgb(221, 222, 225);
-->
    <body style="background-color: #f34846;">

        
        <div class="div-text">
        <h3 class="text" style="font-family: sans-serif;"> Thank you for interest but website has not yet launched. But If your name is Vasya you can login through button below. </h3>
        </div>

        <a href="/accounts/login/" class="login_button" style="width:200px;"> Login </a>


<style>

    .div-text{
        text-align: center;
        font-family: 'effra-reg';
        font-size: 18px;
        max-width: 370px;
        line-height: 26px;
        margin: auto auto;
        color: white;
        letter-spacing: 0.1rem;
        margin-bottom: 100px;
    }

    .text{

        color: white;
        margin-top: 150px;

    }

    .divs{
        margin: 0 auto;
        text-align: center;
    }


</style>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-63205607-1', 'auto');
  ga('send', 'pageview');

</script>

    </body>
</html>