<!DOCTYPE html>

    <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"> 
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"> 
   
    {% load staticfiles %}

    <!-- 
    <link rel="shortcut icon" href="{% static 'img/logo.ico' %}"> 
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}" />
    -->

    <link rel="stylesheet" type="text/css" href="{% static 'style.css' %} " />


    <!--[if IE]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    </head>

<body style="background-color: #f34846;">

<div style="max-width: 400px;text-align:center;margin:50px auto;">

        <p style="color:white;">Sorry but you not login in your account. If you not have account sign up now! </p>

        <a href="/" class="login_button"> Sign up </a>

        <h2 style="color:white;"> OR </h2>

        <a href="/accounts/login" class="login_button"> Login </a>

</div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-63205607-1', 'auto');
  ga('send', 'pageview');

</script>

</body>
</html>
